/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --image-background: url("../images/cover-image-light.png");
    --color-button: #353430;
    --color-header-section: #353430;
    --color-shadow: #353430;
    --color-link-shadow: #FF8DCB;
    --color-background-article: #FF8DCB;
    --color-hover-border-button: #32312D60;
    --color-text: #353430;
    --color-article-header: #FFC2E6;
    --color-article: #353430;
    --color-background: #FF8DCB;

}
.theme-light .page {
    --image-background: url("../images/cover-image-light.png");
    --color-button: #353430;
    --color-header-section: #353430;
    --color-shadow: #353430;
    --color-link-shadow: #FF8DCB;
    --color-background-article: #FF8DCB;
    --color-hover-border-button: #32312D60;
    --color-text: #353430;
    --color-article-header: #FFC2E6;
    --color-article: #353430;
    --color-background: #FF8DCB;
}
